/*impotação de fonte*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;400&display=swap");

body {
  margin: 0px; /*margem externa*/
  padding: 0px; /*margem interna*/
}

Menu de navegação Principal #principal {
  width: 100%;
  height: 100px;
  background: #303030;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #bababa;
}

#principal div a:hover {
  color: #cccccc;
}

#menu {
  display: flex;
  width: 45%;
  justify-content: space-around;
  align-items: center;
}

#principal div a {
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
  text-decoration: none;
}

#principal button {
  margin-right: 5%;
  background: #0c70f2;
  color: #ffffff;
  width: 80px;
  height: 39px;
  margin-top: 31px;
  left: 1245px;
  border: 0px;

  font-family: Inter;
  font-size: 20px;
  font-weight: 500;

  box-shadow: 3px 2px 4px 0px #0c70f240;
  cursor: pointer;
}

/*seção principal do site*/
section {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 100px;
  margin-bottom: 100px;
}

header {
  color: white;
  font-family: var(--fonte-padrão);
}

header h1 {
  font-size: 80px;
  font-weight: 800;
  margin-bottom: 20px;
  text-align: center;
}

header h2 {
  text-align: center;
  font-size: 40px;
  font-weight: normal;
  margin-bottom: 100px;
}

header .invert {
  background-color: black;
  font-weight: bold;
  padding: 5px;
}

/*FORMULÁRIO*/
form {
  color: white;
  font-family: var(--fonte-padrão);
  font-size: 30px;
  font-weight: 600;
  width: 600px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 25px;
}

input {
  border-radius: 10px;
  height: 30px;
  border: 0px;
  font-size: 15px;
  padding: 10px;
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.9);
}

input::placeholder {
  color: #39393980;
}

.checkbox-itens {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.checkbox-itens label {
  font-size: 25px;
  margin-top: 15px;
}

input[type="checkbox"] {
  transform: scale(1.5);
}

input[type="submit"] {
  background: #0c70f2e5;
  color: #ffffff;
  font-family: var(--fonte-padrão);
  font-size: 30px;
  box-shadow: 0px 6px 4px 0px #0c70f240;
  cursor: pointer;
  margin-top: 50px;

  width: 100%;
  height: 56px;
}
